* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: #000069;
    color: white;
    
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 159px;
    height: auto;
}

.mobile-header section {
    display: flex;
    gap: 1rem;
}

.user-button,
.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
    padding: 1rem;
    background: #000069;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer {
    display: flex;
    background: #000069;
    color: white;
    padding: 2rem 1rem;
    font-size: 1rem;
    flex-direction: column;
    gap: 2rem;
}

.footer-links p {
    border-top: 1px solid white;
    padding: 0.8rem 0;
    font-weight: bold;
}

.footer-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.swedish-button {
    margin-top: 1rem;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.footer-payments p {
    text-align: center;
    font-size: 1rem;
}

.footer-rights {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.4;
}