* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: #000069;
    color: white;
    
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 159px;
    height: auto;
}

.mobile-header section {
    display: flex;
    gap: 1rem;
}

.user-button,
.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
    padding: 1rem;
    background: #000069;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}