@import url('base.css');
@import url('header.css');
@import url('hero.css');
@import url('search.css');
@import url('footer.css');
@import url('components.css');
@import url('statements.css');
@import url('information.css');
@import url('climate.css');

@media (min-width: 768px) {
    .information {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        padding: 2rem;
    }

    .information article {
        flex: 1;
    }
}
